name: Java CI with Maven and uploading artifact as WAR file
on:
  push:
    branches:
      - master
jobs:
  build-and-test-maven:
    runs-on: ubuntu-latest
    steps:
      - name: Get-Code
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: temurin
          cache: maven
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: build with maven
        run: mvn clean package
      - name: upload war artifact
        uses: actions/upload-artifact@v3
        with:
          name: Package
          path: target/*.war