---
name: Java CI with Maven
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-and-test-maven:
    runs-on: ubuntu-latest
    steps:
      - name: Get-Code
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: temurin
          cache: maven
      - name: Install Maven
        run: sudo apt-get install -y maven
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install Maven dependencies
        run: mvn dependency:resolve
      - name : create build folder
        run: mkdir build
      - name: build with maven
        run: mvn --batch-mode --update-snapshots package
      - name: Run Maven clean and package
        run: mvn clean package -Dmaven.buildDirectory=./build
      - name: Run the Maven verify phase
        run: mvn --batch-mode --update-snapshots verify
      - run: mkdir staging && cp target/*.war staging
      - uses: actions/upload-artifact@v3
        with:
          name: Package
          path: staging
  build-and-test-angular:
    runs-on: ubuntu-latest
    steps:
      - name: Get-Code
        uses: actions/checkout@v3
      - name: Install node and npm
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install @angular/cli
      - name: Install Angular CLI
        run: npm install -g @angular/cli
      - name: Install project dependencies
        run: npm install
      - name: build and test ANgular app
        run: |
          cd angular-app
          npm install
          npm run build --prod